# config/services.yaml
services:
  _defaults:
    autowire: true
    autoconfigure: true
  AcademCity\LoggerCrudBundle\:
    resource: '../src/*'
    exclude: '../src/{DependencyInjection,Tests,Kernel.php}'
    tags: [ 'service' ]

