# config/services.yaml
services:
  _defaults:
    autowire: true
    autoconfigure: true
  AcademCity\LoggerCrudBundle\:
    resource: '../src/*'
    exclude: '../src/{DependencyInjection,Tests,Kernel.php}'
    tags: [ 'service' ]
    bind:
      Psr\Log\LoggerInterface: '@monolog.logger.db'

  monolog.db_handler:
    class: AcademCity\LoggerCrudBundle\Application\Service\MonologDBHandler
    arguments: [ '@doctrine.orm.entity_manager',  '@security.helper' ]

  monolog.processor.request:
    class: AcademCity\LoggerCrudBundle\Application\Service\RequestProcessor
    arguments: [ '@request_stack', '@service_container' ]
    tags:
      - { name: monolog.processor, method: processRecord, handler: db }

  monolog.db_log_saver:
    class: AcademCity\LoggerCrudBundle\Infrastructure\EventSubscriber\LogSaveSubscriber
    arguments: [ '@monolog.db_handler' ]
    tags:
      - { name: kernel.event_subscriber }

  app.subscriber.abstract_subscriber:
    class: AcademCity\LoggerCrudBundle\Infrastructure\EventSubscriber\AbstractLoggerSubscriber
    arguments: [ '@logger', '@security.helper' ]

  app.subscriber.entity_subscriber:
    class: AcademCity\LoggerCrudBundle\Infrastructure\EventSubscriber\EntityActionSubscriber
    parent: app.subscriber.abstract_subscriber
    #  TODO разобраться почему не работает так, потратил много времени, не понял почему, в ЛК автора работает именно так
    #    tags:
    #      - { name: doctrine.event_subscriber }
    tags:
      - { name: doctrine.event_listener, event: 'postPersist' }
      - { name: doctrine.event_listener, event: 'preUpdate' }
      - { name: doctrine.event_listener, event: 'preRemove' }

